{:kotoba.app/id "cloud.itonami.isic-4671", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihbtpfbr5z5ofcnymgmojxseuyhmvcoyby4d357hzee2lfpnhgqze", :kotoba.app/embed-url "ipfs://bafkreihbtpfbr5z5ofcnymgmojxseuyhmvcoyby4d357hzee2lfpnhgqze", :published {:archive "https://kotobase.net/ipfs/bafkreihbtpfbr5z5ofcnymgmojxseuyhmvcoyby4d357hzee2lfpnhgqze", :size 72687, :put-status 201, :get-status 200, :at "2026-08-15T13:36:24.812Z"}}
